.country-wrapper {
    height: 500px;
    overflow-y: auto;
    position: relative;
}

.country-wrapper .summary {
    display: none;
}

.country-wrapper table {
    margin: 0;
}

.country-wrapper table th {
    position: sticky;
    top: -1px;
    z-index: 20;
    background-color: #ccc;
}

.country-wrapper .simplebar-scrollbar::before {
    background-color: red;
}

.country-wrapper .simplebar-track {
    background-color: blue;
}

.country-wrapper .simplebar-track.simplebar-vertical {
    top: 37px;
}

.country-wrapper [data-simplebar] {
    z-index: 22;
}